
:root {

    --secondary-color: #AA4A44;
    --primary-color: #32CD32;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;

    
}


.inpage-links:hover {

    text-decoration-color: #AAAAAA;
    text-decoration-line: underline;

}



a {

    text-decoration: none;

}

ol {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}



ol li{

  list-style-type: none;

}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
}

.top-bottom {

    background-color: var(--secondary-color);

}

 main {

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;


 }

 .container-1, .container-2, .container-3 {

    height: 98%;
    width: 30%;
    border: solid black 2px;
    margin: 0 auto;
    
    
    
 }

 .container-2 {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

 }

 .box-1, .box-2, .box-3 {

    height: 25%;
    width: 75%;
    border: solid black 2px;
   

 }

 form  {

    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 25px;
    height: 70%;

 }

 label { display: block;}

 input, textarea {

    border: solid  black 1px;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;

 }

 textarea {

    resize: none;

 }
 input[type=submit]:hover {
    
  background-color: #67c967;  
    
}

@media screen and (orientation: portrait) and (max-width: 768px) {

    main {

        flex-direction: row;
    }
}





