
:root {

    --secondary-color: #ddd4d3;
    --primary-color: #ccea23;
}

body, html {
    font-family: 'Courier New', Courier, monospace;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;

    
}


.inpage-links:hover {

    text-decoration-color: #AAAAAA;
    text-decoration-line: underline;

}



a {

    text-decoration: none;

}



ol {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    font-size: 30px;

}



ol li{

  list-style-type: none;

}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
}

.top-bottom {

    background-color: var(--secondary-color);

}

 main {

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;


 }

 .container-1, .container-2, .container-3 {

    height: 98%;
    width: 30%;
    overflow:scroll;
    background-color: var(--secondary-color);
    margin: 0 auto;
    font-size: 26px;
    
    
    
 }

 .container-2 {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

 }

 .box-1, .box-2, .box-3 {

    height: 25%;
    width: 75%;
    
    display: flex;
    justify-content: center;
    overflow:hidden;
   

 }


 form  {

   
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: var(--secondary-color);
    border-radius: 5px;
    padding: 25px;
    height: 75%;
    width: 75%;
    justify-content: center;

 }

 label { display: block;}

 input, textarea {

    border: solid  black 1px;
    background-color: var(--primary-color);
    border-radius: 2px;
    width: 100%;

 }

 textarea {

    resize: none;

 }

 input[type=submit]:hover {
    
  background-color: #67c967;  
    
}

img {

     width: 100%;
     height: 100%;
     object-fit: cover

}

@media (max-width: 850px) {

    .container-1, .container-2, .container-3 {

        font-size: 35px;
        overflow:auto
    }


}

@media (max-width: 768px) {

    .container-1, .container-2, .container-3 {

        font-size: 16px;
        overflow:auto
    }

    ol {
        font-size: 25px;
    }
}

@media (max-width: 600px)

{
   
    .container-1, .container-2, .container-3 {

        font-size: 14px;
        overflow:auto;
    }
    form {

        justify-content: center;
        font-size: 14px;
    }

    ol {
        display: block;
    }

}

@media screen and (orientation: portrait) {

    ol {
        font-size: 16px;
    }

    form {

        font-size: 16px;
    }

    .pages {
        
        flex-flow: column;
        flex-wrap: nowrap;
    }

    .container-1, .container-2, .container-3 {

        display: flex;
        justify-content: space-evenly;
        height: 98%;
        width: 95%;
        border: solid black 2px;
        margin: 0 auto;
        flex-direction: row;
        

       
 }

    .box-1, .box-2, .box-3 {

        
        width: 25%;
    
    }
}




    





