body, html {
    font-family: 'Courier New', Courier, monospace;
    height:100%;
    width:100%;
    margin: 0px;
    padding: 0px;

    
}


.inpage-links:hover {

    text-decoration-color: #AAAAAA;
    text-decoration-line: underline;

}



a {

    text-decoration: none;

}

ol {

    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}



ol li{

  list-style-type: none;

}

h1 {
    display: flex;
    justify-content: center;
}

footer {
    display:flex;
    justify-content: center;
}

.top-bottom {

    background-color:#AA4A44;

}

 main {

    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    height: 100%;


 }

 .container-1, .container-2, .container-3 {

    height: 98%;
    width: 30%;
    border: solid black 2px;
    margin: 1%;
    
    
    
 }

 .container-2 {

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;

 }

 .box-1, .box-2, .box-3 {

    height: 25%;
    width: 75%;
    border: solid black 2px;
   

 }








